@import url("/CSS/font.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
}
:root {
  /* theme color */

  /*font family*/
  --Abel: "Abel", cursive;
  --Korna: "Korna", cursive;
  --Tagomin: "Tagomin", cursive;
  --StarWars: "StarWars", cursive;
  --StarJedi: "StarJedi", cursive;
}

/* global classe */
a {
  text-decoration: none;
  color: black;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--StarWars);
}
.container {
  margin: 0 4vw;
}
.text-gray {
  color: gray;
}

/* Nav-bar */
.nav {
  background-color: black;
  padding: 1.5rem;
  height: 0rem;
  min-height: 5vh;
  transition: height 1s ease-in-out;
  position: relative;
  width: 100%;
}

.nav .nav-menu {
  justify-content: space-between;
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items a {
  color: yellow;
}
.nav .nav-brand .test-gray {
  color: yellow;
}
.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1rem 0;
  position: relative;
  font-family: var(--StarWars);
  font-size: 1.4rem;
}
.nav .nav-items .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.37);
}
.nav .nav-items .nav-link:hover a {
  color: white;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--StarWars);
  font-size: 2rem;
  color: black;
}
.nav .social {
  padding: 1.7rem 0;
  
}
.nav .social a {
  color: yellow;
}
.nav .social img {
  padding: 0 0.5rem;
}
.nav .social img:hover {
  color: gray;
}

/* main section */

/* site title */
main {
  background-color: white;
  
}
main .site-title {
  background-image: url("/images/prayer-x-AAxYvBisZ_E-unsplash.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

main .site-title h1,
h3 {
  margin: 3rem;
}

main .site-title .site-explore h1 a {
  padding-top: 30px;
  text-align: center;
  color: yellow;
  font-family: var(--StarWars);
}

main .site-title h1 {
  font-size: 9rem;
}
main .site-title h3 {
  padding-top: 9rem;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

main .site-explore .btn {
  color: white;
  margin: 0.1rem;
  background: black;
}

main .site-title .site-explore .btn:hover {
  background: transparent;
  color: red;
}

main .social {
  padding: 2rem;
}
main .social a {
  color: blue;
}
main .social img {
  padding: 0 0.5rem;
}
main .social i:hover {
  color: gray;
}

/*main second page*/


main .blog-content h3{
  font-family: var(--StarJedi);
  color: yellow;
  
  
  
}


main .popular h1{
  color: yellow;
}

main .popular h1{
  font-family: var(--StarJedi);
  padding-left: 2rem;
}
main .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  
}
main .grid-items{
  
  text-align: center;
}
main .grid-items h3{
  font-family: var(--StarJedi);
  color: black;
}


/*Content pages*/
/*
main .site-content{
    padding-left: 3rem;
}
*/

main .post-content {
  width: 96.4%;
}

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 2rem 0;
  position: relative;
}
main .site-content .post-content > .post-image .post-info {
  background: skyblue;
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img {
  transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
  transform: scale(1.1);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0.5rem;
}

main .post-title {
  font-family: var(--StarJedi);
  color: black;
  font-size: 1.5rem;
}

main .read-more {
  color: blue;
}

.text-gray {
  color: GRAY;
}

.site-content .pagination {
  justify-content: center;
  color: gray;
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--StarJedi);
}

.site-content .pagination .pages {
  background: gray;
}

/*sidebar*/

.site-content > .sidebar .category-list {
  font-family: var(--StarJedi);
}

.site-content > .sidebar .category-list .list-items {
  background: skyblue;
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
}
.site-content > .sidebar .newsletter {
  margin: 3rem;
  padding-top: 3rem;
  font-family: var(--StarJedi);
  font-size: small;
}

.site-content > .sidebar .newsletter .form-element {
  padding: 0.5rem 0.5rem;
  width: 20rem;
}

.site-content > .sidebar .newsletter .input-element {
  width: 70%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

.site-content > .sidebar .newsletter .font-btn {
  border-radius: 0;
  padding: 0.8rem 25%;
  margin: 1rem 0;
  background: gray;
}

/*
.site-content .popular-tags h2{
    font-family: var(--StarJedi);
    font-size: large;
}

.site-content .sidebar .popular-tags{
    padding: 4rem 2rem;
}

.site-content .sidebar .popular-tags .tag{
    background: gray;
    padding: .5rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
    height: auto;
}
*/

/*footer*/
footer.footer {
  height: 100%;
  background: black;
  position: relative;
  width: 100%;
}
footer.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
}

footer.footer .container .about-us a {
  color: white;
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer.footer .subscribe .form-element {
  background: white;
  display: inline-block;
}

footer.footer .subscribe .form-element input {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  color: white;
  font-family: var(--StarWars);
}

footer.footer .subscribe .form-element span {
  background: skyblue;
  flex-direction: column;
  padding: 0.7rem 1rem;
}

footer.footer .follow div img {
  padding: 0.4rem;
  color: white;
}
footer.footer .rights {
  justify-content: center;
  color: white;
  background: black;
}

footer.footer .rights h4 a {
  color: white;
}

footer.footer .move-up {
  position: absolute;
  right: 6%;
  top: 50%;
}
footer.footer .move-up span {
  color: midnightblue;
}
footer.footer .move-up span:hover {
  color: white;
  cursor: pointer;
}
/* viewpoint */
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }
}
@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .popular-post .post-info {
    display: none !important;
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content {
    grid-template-columns: 100%;
  }

  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
  main .blog {
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .container > div {
    padding: 1rem 0.9rem !important;
  }

  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }

  nav .toggle-collapse {
    width: 80% !important;
  }
}
